<h2 class="text-center" style="background-color: #3578E5">Update News</h2>
<br>


<div class="container">
  
    <div class="row">
        <div class="col-md-9">
        <form >
                <div class="form-group">
                        <label for="">Id</label>
                        <input [(ngModel)]="n.id" disabled="disabled" type="number"  class="form-control" id="id" name="id">
                    </div>
                <div class="form-group">
                        <label for="">Date</label>
                        <input [(ngModel)]="n.date" type="datetime-local"  class="form-control" id="date" name="date">
                    </div>
            <div class="form-group">
                <label for="">category</label>
                <input [(ngModel)]="n.category" type="text"  class="form-control" id="category" name="category" >
            </div>
            <div class="form-group">
                <label for="">Heading</label>
                <input [(ngModel)]="n.heading" type="text"  class="form-control" id="heading" name="heading" >
            </div>
            <td><img style="height: 150px;width: 40%" src="data:image/gif;base64,{{n.logo}}" alt=""><br>
                <label for=""><b>Logo</b></label>
                <input (change)="onSelectFile($event)" style="border: none" type="file" class="form-control">
          <div class="form-group">
            <label for="">Description</label>
            <textarea class="form-control" [(ngModel)]="n.description" rows="5" id="description" name="description"></textarea>
        </div>
        <span class="label label-warning">{{message}}</span>
        
          <button type="submit" (click)="update()" class="btn btn-success">Update news</button>
        </form>
        </div>
    </div>
      
  </div>