
  
  .vertical-menu a {
    background-color:black;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;


  }

  .vertical-menu a:hover {
    background-color: #3578E5;
  }
  
  .vertical-menu a.active {
    background-color: #3578E5;
    color: white;
  }