<h2 class="text-center" style="background-color: #3578E5">Add New Match</h2>
<br>


<div class="container">

    <div class="row">
        <div class="col-md-9">
            <form #myForm="ngForm" (ngSubmit)="onAdd(myForm)">
                <div class="form-group">
                    <label for="">Umpire name</label>
                    <input type="text" ngModel class="form-control" id="umpire" name="umpire"
                        placeholder="Enter umpire name">
                </div>
                <div class="form-group">
                        <label for="">Date</label>
                        <input type="date" ngModel class="form-control" id="date" name="date" style="width: 160px">
                    </div>
                <div class="form-group">
                    <label for="">Location</label>
                    <input type="text" ngModel class="form-control" id="location" name="location"
                        placeholder="Enter location">
                </div>
                <div class="form-group">
                        <label for="">Result</label>
                        <input type="text" ngModel class="form-control" id="result" name="result"
                            placeholder="Enter result">
                    </div>
                    <div class="form-group">
                            <label for="">Tournament id</label>
                            <input type="number" ngModel class="form-control" id="tournamentId" name="tournamentId"
                                placeholder="Enter tournamentId">
                        </div>
                          
  
                     
                
                    <span class="label label-warning">{{message}}</span>

                    <button type="submit" class="btn btn-success">Add Match</button>
            </form>
        </div>
    </div>

</div>