<!-- <h2 class="text-center" style="background-color: #3578E5">Add New Match</h2>
<br>


<div class="container">

    <div class="row">
        <div class="col-md-9">
            <form #myForm="ngForm" (ngSubmit)="onAdd(myForm)">
                <div class="form-group">
                    <label for="">Umpire name</label>
                    <input type="text" ngModel class="form-control" id="umpire" name="umpire"
                        placeholder="Enter umpire name">
                </div>
                <div class="form-group">
                        <label for="">Date</label>
                        <input type="datetime-local" ngModel class="form-control" id="date" name="date">
                    </div>
                    <div class="form-group">
                        <label for="">Location</label>
                        <input type="text" ngModel class="form-control" id="location" name="location"
                            placeholder="Enter location">
                    </div>
                    <div class="form-group">
                        <label for="">Select tournaments</label>
                        <select ngModel class="form-control" name="tournamentId" >
                                <option *ngFor="let t of tour" value="{{t.id}}">{{t.name}}</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="">Select Home Team</label>
                        <select ngModel class="form-control" name="homeTeamId" >
                                <option *ngFor="let t of team" value="{{t.id}}">{{t.name}}</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="">Select Away Team</label>
                        <select ngModel class="form-control" name="awayTeamId" >
                                <option *ngFor="let t of team" value="{{t.id}}">{{t.name}}</option>
                            </select>
                    </div>
                          
  
                     
                
                    <span class="label label-warning">{{message}}</span>

                    <button type="submit" class="btn btn-success">Add Match</button>
            </form>
        </div>
    </div>

</div> -->
<h2 class="text-center" style="background-color: #3578E5">Add New Match</h2>
<br>


<div class="container">

    <div class="row">
        <div class="col-md-9">
            <form #myForm="ngForm" (ngSubmit)="onAdd(myForm)">
                <div class="form-group">
                    <label for="">Umpire name</label>
                    <input type="text" ngModel class="form-control" id="umpire" name="umpire"
                        placeholder="Enter umpire name">
                </div>
                <div class="form-group">
                        <label for="">Date</label>
                        <input type="datetime-local" ngModel class="form-control" id="date" name="date">
                    </div>
                    <div class="form-group">
                        <label for="">Location</label>
                        <input type="text" ngModel class="form-control" id="location" name="location"
                            placeholder="Enter location">
                    </div>
                    <div class="form-group">
                        <label for="">Select tournaments</label>
                        <select ngModel class="form-control" name="tournamentId" >
                                <option *ngFor="let t of tour" value="{{t.id}}">{{t.name}}</option>
                            </select>
                    </div>
                          
  
                     
                
                    <span class="label label-warning">{{message}}</span>

                    <button type="submit" class="btn btn-success">Add Match</button>
            </form>
        </div>
    </div>

</div>
