<h2 class="text-center" style="background-color: aqua">Points table</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Team</th>
            <th>M</th>
            <th>W</th>
            <th>L</th>
            <th>T</th>
            <th>N/R</th>
            <th>PT</th>
            <th>NRR</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                    <td>India</td>
                    <td>9</td>
                    <td>7</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>15</td>
                    <td>0.809</td>
                </tr>
                <tr>
                        <td>India</td>
                        <td>9</td>
                        <td>7</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>15</td>
                        <td>0.809</td>
                    </tr>
                    <tr>
                            <td>India</td>
                            <td>9</td>
                            <td>7</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>15</td>
                            <td>0.809</td>
                        </tr>
                        <tr>
                                <td>India</td>
                                <td>9</td>
                                <td>7</td>
                                <td>1</td>
                                <td>0</td>
                                <td>1</td>
                                <td>15</td>
                                <td>0.809</td>
                            </tr>
                            <tr>
                                    <td>India</td>
                                    <td>9</td>
                                    <td>7</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>15</td>
                                    <td>0.809</td>
                                </tr>
                                <tr>
                                        <td>India</td>
                                        <td>9</td>
                                        <td>7</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>15</td>
                                        <td>0.809</td>
                                    </tr>
                                    <tr>
                                            <td>India</td>
                                            <td>9</td>
                                            <td>7</td>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>15</td>
                                            <td>0.809</td>
                                        </tr>
                                        <tr>
                                                <td>India</td>
                                                <td>9</td>
                                                <td>7</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>15</td>
                                                <td>0.809</td>
                                            </tr>
    </tbody>
</table>
