
<div>
        <h2 class="text-center" style="background-color:blueviolet">Matches</h2>

</div>
<div class="">TUE, JAN 14 2020</div>
<div id="" class="cb-list-item " style=" "><div class="row"><div class="col-xs-4 col-lg-1 pull-left cbz-no-padding-right dis-inline" style="max-width:100px;"><div class="left-content" style="text-align:center"></div><div class="left-content-big" style="text-align:center"></div><div class="left-content-small" style="text-align:center">01:30 PM</div></div><div class="col-xs-8 col-lg-11 dis-inline"><h3 class="ui-li-heading ">India vs Australia<div style="font-weight:normal;color:#777;"> at Mumbai</div></h3><div class="list-content">1st ODI, Australia tour of India, 2020</div></div></div></div>
<hr>
<div class="">TUE, JAN 14 2020</div>
<div id="" class="cb-list-item " style=" "><div class="row"><div class="col-xs-4 col-lg-1 pull-left cbz-no-padding-right dis-inline" style="max-width:100px;"><div class="left-content" style="text-align:center"></div><div class="left-content-big" style="text-align:center"></div><div class="left-content-small" style="text-align:center">01:30 PM</div></div><div class="col-xs-8 col-lg-11 dis-inline"><h3 class="ui-li-heading ">India vs Australia<div style="font-weight:normal;color:#777;"> at Mumbai</div></h3><div class="list-content">1st ODI, Australia tour of India, 2020</div></div></div></div>
<hr>
<div class="">TUE, JAN 14 2020</div>
<div id="" class="cb-list-item " style=" "><div class="row"><div class="col-xs-4 col-lg-1 pull-left cbz-no-padding-right dis-inline" style="max-width:100px;"><div class="left-content" style="text-align:center"></div><div class="left-content-big" style="text-align:center"></div><div class="left-content-small" style="text-align:center">01:30 PM</div></div><div class="col-xs-8 col-lg-11 dis-inline"><h3 class="ui-li-heading ">India vs Australia<div style="font-weight:normal;color:#777;"> at Mumbai</div></h3><div class="list-content">1st ODI, Australia tour of India, 2020</div></div></div></div>
<hr>
<div class="">TUE, JAN 14 2020</div>
<div id="" class="cb-list-item " style=" "><div class="row"><div class="col-xs-4 col-lg-1 pull-left cbz-no-padding-right dis-inline" style="max-width:100px;"><div class="left-content" style="text-align:center"></div><div class="left-content-big" style="text-align:center"></div><div class="left-content-small" style="text-align:center">01:30 PM</div></div><div class="col-xs-8 col-lg-11 dis-inline"><h3 class="ui-li-heading ">India vs Australia<div style="font-weight:normal;color:#777;"> at Mumbai</div></h3><div class="list-content">1st ODI, Australia tour of India, 2020</div></div></div></div>
<hr>