<h2 class="text-center" style="background-color: #3578E5">Add Player</h2>
<br>


<div class="container">

    <div class="row">
        <div class="col-md-9">
            <form #myForm="ngForm" (ngSubmit)="onAdd(myForm)">
                <div class="form-group">
                    <label for="">Player name</label>
                    <input type="text" ngModel class="form-control" id="name" name="name"
                        placeholder="Enter player name">
                </div>
                <div class="form-group">
                    <label for="">Age</label>
                    <input type="number" ngModel class="form-control" id="age" name="age" style="width:150px"
                        placeholder="Enter age">
                </div>
                <div class="form-group">
                    <label for="">contact no</label>
                    <input type="text" ngModel class="form-control" id="contact" name="contact"
                        placeholder="Enter contact no">
                </div>
                <label for=""><b>Profile photo</b></label>
                <input (change)="onSelectFile($event)" style="border: none" type="file" class="form-control">
                    <div class="form-group">
                        <label for="">Date Of Birth</label>
                        <input type="date" ngModel class="form-control" id="dob" name="dob" style="width: 160px">
                    </div>
                    <div class="form-group">
                        <label for="">Select role:</label>
                        <select ngModel class="form-control" id="role" name="role">
                                <option value="BATSMAN" selected="selected">BATSMAN</option>
                                <option value="BOWLER">BOWLER</option>
                                <option value="WICKETKEEPER">WICKETKEEPER</option>
                                <option value="ALLROUNDER">ALLROUNDER</option> 
                                <option value="CAPTAIN">CAPTAIN</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="">Select team</label>
                        <select ngModel class="form-control" id="teamId" name="teamId" >
                                <option *ngFor="let t of team" value="{{t.id}}">{{t.name}}</option>
                            </select>
                    </div>
                    <span class="label label-warning">{{message}}</span>

                    <button type="submit" class="btn btn-success">Add Player</button>
            </form>
        </div>
    </div>

</div>