<H1 class="text-center" style="background-color: deepskyblue">News Information</H1>


<div class="container">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: violet;color: white">
               <h3> {{n.heading | titlecase}}</h3>
               <h6>{{n.category | titlecase}}</h6>

            <img style="height: 250px;width: 300px" src="data:image/gif;base64,{{n.image}}" alt="">
            <h6>Date : {{n.date | date:"medium"}}</h6>
            <br>
            <p>Description  : {{n.description}}</p>
    </div>
    <div class="col-md-4"></div>
    </div>
</div>