<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:4200">Allcricket</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home">Home</a></li>
      <li><a routerLink="/series">Series</a></li>
      <li><a routerLink="/schedule">Matches</a></li>
      <li><a routerLink="/teams">Teams</a></li>
      <!--<li><a routerLink="/pointstable">Points table</a></li>-->
      <li><a routerLink="/players">Players</a></li>
      <li><a routerLink="/news">News</a></li>
      <li><a routerLink="/contactus">contact us</a></li>
      <li><a routerLink="/search">Seach Player</a></li>
      </ul>
  </div>
</nav>
<div style="height: 40px"></div>
<router-outlet></router-outlet>



</body>
</html>
