<div style="background-color: cyan" class="text-center"><h1>Matches</h1></div>

<table class="table table-striped table-hover table-responsive" [@fadeInOnEnter]="{ value: '', params: { duration: 600, delay: 30, translate: '5px' } }">
        <thead>
            <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Umpire</th>
                    <th>Location</th>
                    <th>Tournament name</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of team" >
                    <td>{{n.id}}</td>
                    <td>{{n.date}}</td>
                    <td>{{n.umpire}}</td>
                    <td>{{n.location}}</td>
                    <td>{{n.tournamentId.name}}</td>
                    <td><button routerLink="/admin/home/editmatch/{{n.id}}" class="btn btn-warning">Update</button></td>
                    <td>
                            <button type="button" (click)="delete(n.id)"class="btn btn-danger">Delete</button>
                            </td>
            </tr>
        </tbody>
    </table>
    
    