<div>
        <h2 class="text-center" style="background-color:blueviolet">Tournaments</h2>

</div>


<div class="container">
    <table class="table table-striped table-hover table-responsive" [@bounceInDownOnEnter]="{ value: '', params: { duration: 1000, delay: 30, translate: '768px' } }">
        <thead>
            <tr>
                    <th>Name </th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
    
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of tournament">
                    <td>{{n.name}}</td>
                    <td>{{n.startDate | date:'fullDate'}}</td>
                    <td>{{n.endDate | date:'fullDate'}}</td>
                    <td><button routerLink="/tournamentinfo/{{n.id}}" class="btn btn-success">View Tournament</button></td>
                  </tr>
        </tbody>
    </table>
</div>


