<H1 class="text-center" style="background-color: deepskyblue">Player profile</H1>




<div class="container">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: violet;color: white">
               <h4> Player ID : {{n.id}}</h4>
            <img style="height: 250px;width: 300px" src="data:image/gif;base64,{{n.photo}}" alt="">
            <h4>Name : {{n.name}}</h4>
            <h4>Age  : {{n.age}}</h4>
            <h4>contact : {{n.contact}}</h4>
            <h4>Date Of Birth: {{n.dob | date}}</h4>
            <h4>Role In Team :{{n.role}}</h4>
            <h4><a routerLink="/teaminfo/{{n.teamId.id}}">Team Name :{{n.teamId.name}}</a></h4>
            
    </div>
    <div class="col-md-4"></div>
    </div>
</div>



