<div>
        <h2 class="text-center" style="background-color:blueviolet">Players</h2>

</div>
<div class="box grid_16 single_datatable no_titlebar" style="opacity: 1;">
        <div class="no_margin" id="dt1">
            <div class="dataTables_wrapper">
                <div class="dataTables_scroll">
                    <div>
                        <table cellpadding="0" cellspacing="0" border="0" class="display "
                            class="table table-striped table-hover" id="example" style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 10%">Player Id</th>
                                    <th style="text-align: center;width: 10%">Player Name</th>
                                    <th style="text-align: center;width: 10%">Player Photo</th>
                                    <th style="text-align: center;width: 10%">DOB</th>
                                    <th style="text-align: center;width: 10%">Age</th>
                                    <th style="text-align: center;width: 10%">Role</th>
                                    <th style="text-align: center;width: 10%">Contact</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Saurabh</a></td>
                                    <td> <img src="assets/image/st.jpg" style="width: 50px"> </td>
                                    <td>1 Jan 1996</td>
                                    <td>24</td>
                                    <td>Batsman</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Saurabh</a></td>
                                    <td> <img src="assets/image/st.jpg" style="width: 50px"> </td>
                                    <td>1 Jan 1996</td>
                                    <td>24</td>
                                    <td>Batsman</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Saurabh</a></td>
                                    <td> <img src="assets/image/st.jpg" style="width: 50px"> </td>
                                    <td>1 Jan 1996</td>
                                    <td>24</td>
                                    <td>Batsman</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Saurabh</a></td>
                                    <td> <img src="assets/image/st.jpg" style="width: 50px"> </td>
                                    <td>1 Jan 1996</td>
                                    <td>24</td>
                                    <td>Batsman</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Saurabh</a></td>
                                    <td> <img src="assets/image/st.jpg" style="width: 50px"> </td>
                                    <td>1 Jan 1996</td>
                                    <td>24</td>
                                    <td>Batsman</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Saurabh</a></td>
                                    <td> <img src="assets/image/st.jpg" style="width: 50px"> </td>
                                    <td>1 Jan 1996</td>
                                    <td>24</td>
                                    <td>Batsman</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Saurabh</a></td>
                                    <td> <img src="assets/image/st.jpg" style="width: 50px"> </td>
                                    <td>1 Jan 1996</td>
                                    <td>24</td>
                                    <td>Batsman</td>
                                    <td>123456789</td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>