<h2 class="text-center" style="background-color: #3578E5">Add News</h2>
<br>


<div class="container">
  
    <div class="row">
        <div class="col-md-9">
        <form #myForm="ngForm" (ngSubmit)="onAdd(myForm)">
            <div class="form-group">
                <label for="">Date</label>
                <input type="date" ngModel class="form-control" id="date" name="date" style="width: 160px">
            </div>
            <div class="form-group">
                <label for="">category</label>
                <input type="text" ngModel class="form-control" id="category" name="category" placeholder="Enter category">
            </div>
            <div class="form-group">
                <label for="">Heading</label>
                <input type="text" ngModel class="form-control" id="heading" name="heading" placeholder="Enter heading">
            </div>
            <td><img style="height: 100px;width: 100px" src="data:image/gif;base64,{{emp.image}}" alt=""><br>
                <label for=""><b>News image</b></label>
                <input (change)="onSelectFile($event)" style="border: none" type="file" class="form-control">
          <div class="form-group">
            <label for="">Description</label>
            <textarea class="form-control" rows="5" id="description" name="description"></textarea>
        </div>
        <span class="label label-warning">{{message}}</span>
        
          <button type="submit" class="btn btn-success">Add news</button>
        </form>
        </div>
    </div>
      
  </div>