<h2 class="text-center" style="background-color: darkgoldenrod">Rankings</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Position</th>
            <th>Team</th>
            <th>Rating</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
        <tr>
            <td>1</td>
            <td>India</td>
            <td>120</td>
            <td>5046</td>
        </tr>
    </tbody>
</table>
