<div style="background-color: cyan" class="text-center"><h1>Teams</h1></div>
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
                <th>id</th>
                <th>age</th>
                <th>name</th>
                <th>contact</th>
                <th>photo</th>
                <th>dob</th>
                <th>role</th>
                <th>teamId</th>
              
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let n of player">
                <td>{{n.id}}</td>
                <td>{{n.age}}</td>
                <td>{{n.name}}</td>
                <td>{{n.contact}}</td>
                <td><img src="assets/image/3.jpg" style="height: 100px;width: 100px;"></td>
                <td>{{n.dob}}</td>
                <td>{{n.role}}</td>
                <td>{{n.teamId}}</td>
                
                <td><a routerLink="/admin/home/editplayer/{{n.id}}">Edit</a></td>
                <td><a >Delete</a></td>
        </tr>
    </tbody>
</table>
