<div class="text-center" style="background-color: cadetblue">
    <h1>Statistics</h1>
</div>



<div class="card col-md-4">


</div>

<div class="card col-md-4">
    <div class="card zoom text-center">
        <div class="card-body" >
            <h4 class="card-title"> Total tournaments </h4>
            <p class="card-text">200</p>
            <a routerLink="/admin/home/series" class="card-link">View Tournaments</a>
        </div>
        </div>
        <div class="card zoom text-center">
            <div class="card-body">
                <h4 class="card-title">     Total matches
                </h4>
                <p class="card-text">1000</p>
                <a routerLink="/admin/home/match" class="card-link">View matches</a>
            </div>
            </div>
    
            <div class="card zoom text-center">
                <div class="card-body">
                    <h4 class="card-title"> Total players </h4>
                    <p class="card-text">1024</p>
                    <a routerLink="/admin/home/player" class="card-link">View players</a>
                </div>
                </div>
    
                <div class="card zoom text-center">
                    <div class="card-body">
                        <h4 class="card-title"> Total teams </h4>
                        <p class="card-text">203</p>
                        <a routerLink="/admin/home/teams" class="card-link">View teams</a>
                    </div>
                </div>

                <div class="card zoom text-center">
                    <div class="card-body">
                        <h4 class="card-title"> Total news </h4>
                        <p class="card-text">158</p>
                        <a routerLink="/admin/home/news" class="card-link">View news</a>
                    </div>
                </div>

</div>


                <div class="card col-md-2">

                   
                </div>