<h2 class="text-center" [@slideInRightOnEnter]="{ value: '', params: { duration: 300, delay: 0, translate: '768px' } }" style="background-color: aqua">News</h2>




<div class="container" [@slideInRightOnEnter]="{ value: '', params: { duration: 300, delay: 300, translate: '768px' } }">
    
    <div class="row" *ngFor="let n of news" style="margin-top: 10px" >
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                    <td><img style="height: 150px;width: 250px" src="data:image/gif;base64,{{n.image}}" alt=""><br>                
        </div>
        <div class="col-md-4" >
                <h4>{{n.heading | titlecase}}</h4>
                <h5>{{n.date | date}}</h5>
                <br>
                <button routerLink="/newsinfo/{{n.id}}" class="btn btn-success">Read more</button>
        </div>
        <div class="col-md-2">
        </div>

    </div>
    
</div>

