





<div class="container">
    <H1 class="text-center" style="background-color: deepskyblue">Search Player profile</H1>
    <div class="text-center">
        <form #myForm="ngForm" (ngSubmit)="onAdd(myForm)" class="form-inline" role="form" style="margin-top: 8px">

            <div class="form-group">
              <input type="text" ngModel class="form-control" id="name" name="name" placeholder="Search player by name">
            </div>
            
          
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <br>
          <h4 style="color:blueviolet">{{message}}</h4>
    </div>
  
    <div class="row">
        <div class="card zoom col-md-2" style="border-radius: 2px;background-color:rgb(206, 236, 233);height: 200px;" *ngFor="let n of player">
            <td><img src="data:image/gif;base64,{{n.photo}}" alt="" style="height:100px;width: 130px;"></td>
            <div class="text-center">
              <h4 class="card-title">{{n.name}}</h4>
              <p class="card-text" style="height: 15px">{{n.teamId.name}}</p>
              <a routerLink="/playerinfo/{{n.id}}" class="btn btn-primary">See Profile</a>
            </div>
          </div>
    </div>
</div>



