<div class="text-center" style="background-color: cyan"><h1>Mi squad list</h1></div>

<div class="col-md-4">
        <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 0, translate: '768px' } }">
                <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                <div class="card-body">
                  <h4 class="card-title">Saurabh Thombare</h4>
                  <p class="card-text">ALL ROUNDER</p>
                  <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                </div>
              </div>
  </div> 
  <div class="col-md-4">
          <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 300, translate: '768px' } }">
                  <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                  <div class="card-body">
                    <h4 class="card-title">Saurabh Thombare</h4>
                    <p class="card-text">ALL ROUNDER</p>
                    <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                  </div>
                </div>
    </div> 
    <div class="col-md-4">
            <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 600, translate: '768px' } }">
                    <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                    <div class="card-body">
                      <h4 class="card-title">Saurabh Thombare</h4>
                      <p class="card-text">ALL ROUNDER</p>
                      <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                    </div>
                  </div>
      </div> 
      <div class="col-md-4">
              <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 900, translate: '768px' } }">
                      <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                      <div class="card-body">
                        <h4 class="card-title">Saurabh Thombare</h4>
                        <p class="card-text">ALL ROUNDER</p>
                        <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                      </div>
                    </div>
        </div> 
        <div class="col-md-4">
                <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 1200, translate: '768px' } }">
                        <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%" >
                        <div class="card-body">
                          <h4 class="card-title">Saurabh Thombare</h4>
                          <p class="card-text">ALL ROUNDER</p>
                          <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                        </div>
                      </div>
          </div> 
          <div class="col-md-4">
                  <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 1500, translate: '768px' } }">
                          <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                          <div class="card-body">
                            <h4 class="card-title">Saurabh Thombare</h4>
                            <p class="card-text">ALL ROUNDER</p>
                            <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                          </div>
                        </div>
            </div> 
            <div class="col-md-4">
                    <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 1800, translate: '768px' } }">
                            <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                            <div class="card-body">
                              <h4 class="card-title">Saurabh Thombare</h4>
                              <p class="card-text">ALL ROUNDER</p>
                              <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                            </div>
                          </div>
              </div> 
              <div class="col-md-4">
                      <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 2100, translate: '768px' } }">
                              <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                              <div class="card-body">
                                <h4 class="card-title">Saurabh Thombare</h4>
                                <p class="card-text">ALL ROUNDER</p>
                                <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                              </div>
                            </div>
                </div> 
                <div class="col-md-4">
                        <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 2400, translate: '768px' } }">
                                <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                                <div class="card-body">
                                  <h4 class="card-title">Saurabh Thombare</h4>
                                  <p class="card-text">ALL ROUNDER</p>
                                  <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                                </div>
                              </div>
                  </div> 
                  <div class="col-md-4">
                          <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 2700, translate: '768px' } }">
                                  <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                                  <div class="card-body">
                                    <h4 class="card-title">Saurabh Thombare</h4>
                                    <p class="card-text">ALL ROUNDER</p>
                                    <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                                  </div>
                                </div>
                    </div> 
                    <div class="col-md-4">
                            <div class="card zoom text-center" style="width:300px" [@fadeInOnEnter]="{ value: '', params: { duration: 300, delay: 3000, translate: '768px' } }">
                                    <img class="card-img-top" src="assets/image/st.jpg" alt="Card image" style="height: 200px;width: 80%">
                                    <div class="card-body">
                                      <h4 class="card-title">Saurabh Thombare</h4>
                                      <p class="card-text">ALL ROUNDER</p>
                                      <a routerLink="/playerinfo" class="btn btn-primary">View Profile</a>
                                    </div>
                                  </div>
                      </div> 
 